{{#vt-ui/buttons/negative
  onClick=(action 'onClick')
}}
  {{vt-ui/fa-icon icon='arrow-left'}}
  Back
{{/vt-ui/buttons/negative}}

{{paper-input
  class=form-control
  label="Name"
  value=vessel.name
  onChange=(action (mut vessel.name))
  required=true
  errorMessages=(hash required="Name is required.")
}}

{{paper-input
  class=form-control
  label="IMO Number"
  value=vessel.imoNumber
  onChange=(action (mut vessel.imoNumber))
  required=true
  errorMessages=(hash required="IMO number is required.")
}}

{{paper-input
  class=form-control
  label="Flag"
  value=vessel.flag
  onChange=(action (mut vessel.flag))
  required=true
  errorMessages=(hash required="Flag is required.")
}}

<div class="bottom-row">
  <div class='file-upload'>
    {{#paper-button
      raised=true
      iconButton=true
    }}
      {{#x-file-input
        class='custom-class'
        multiple=false
        name='files'
        action=(action 'didSelectImage')
        accept='image/jpg,image/jpeg'
      }}
        {{paper-icon 'cloud-upload'}}
        {{#if uploadInProgress}}
          <span>Uploading file...</span>
          {{paper-icon "rotate-right" spin=true}}
          {{formattedProgressValue}}
        {{else}}
          <span>Upload vessels image (.jpeg)</span>
        {{/if}}
      {{/x-file-input}}
    {{/paper-button}}

    <div class='upload-successful'>
      <span>File succesfully uploaded</span>
      {{paper-icon 'done'}}
    </div>
  </div>

  <div class='save-button'>
    {{#vt-ui/buttons/positive
      onClick=(route-action 'saveVessel' vessel)
      disabled=isInvalid
    }}
      {{vt-ui/fa-icon icon='save'}}
      Save
    {{/vt-ui/buttons/positive}}
  </div>
</div>
